/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #11a883;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.product {
    text-align: center;
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    width: 200px;
}

.product img:hover {
    transform: scale(1.05);
}

.Contato {
    max-width: 600px;
    margin: 0 auto;
    width: 200px;
    text-align: 55%;
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    background: #11a883;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #333;
}
